@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose Pro-trial.ttf");
}

@font-face {
  font-family: "TheLightFont";
  src: url("../fonts/TheLightFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arial";
}

html, body {
  height: 100%;
}

body {
  background: #eed1dd;
  font-family: 'Open Sans';
}

svg {
  height: 100%;
  width: 100%;
}

h1, h3 {
  font-family: "Cocogoose";
}

#nav-spacer {
  height: 80px;
  background: #de6e9d;
  width: 100%;
}

nav {
  z-index: 6;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #de6e9d;
  width: 100%;
  max-width: 1024px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: height .4s ease-out;
  transition: height .4s ease-out;
}

nav #hamburger {
  display: none;
}

nav #brand {
  padding: 15px;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.6em;
  -webkit-transition: text-shadow .3s;
  transition: text-shadow .3s;
  font-family: "TheLightFont";
}

nav ul a:hover {
  text-shadow: 0px 0px 10px white;
}

@media (max-width: 840px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 80px;
  }
  nav #hamburger {
    display: inline-block;
    color: #d94986;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7.5px 25px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  nav #brand {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    top: 0;
    left: 0;
    height: 70px;
  }
  nav #brand img {
    height: 100%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  nav ul li {
    height: 50px;
    width: 98%;
    background: #e2acc2;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }
  nav ul li a {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li:hover {
    background: #eed1dd;
  }
}

/*Show class for nav*/
.show {
  height: 300px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background: white;
}

main header {
  height: 180px;
  -webkit-box-shadow: 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header h1 {
  font-size: 40px;
  margin: 50px 0;
}

main .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

main p {
  margin: 0px 15px 0px 15px;
}

main .about-text-section {
  width: 512px;
}

main #projects p {
  max-width: 1024px;
  margin: 0px 15px 0px 15px;
}

@media (max-width: 1024px) {
  main #projects p {
    max-width: 512px;
  }
}

main h3 {
  text-align: center;
  margin: 70px;
}

footer {
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 90px;
  width: 100%;
  max-width: 1024px;
}

footer #links a {
  height: 45px;
  margin: 15px;
}

@media (max-width: 1024px) {
  footer #links a {
    margin-bottom: 0;
  }
}

footer #links img {
  height: 45px;
}

footer #links ul {
  list-style: none;
  text-align: center;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (max-width: 450px) {
  footer #links ul {
    max-width: 300px;
  }
}

footer #links ul li {
  display: inline-block;
  margin: 0 10px;
}

footer #links ul li a {
  color: white;
  text-decoration: none;
}

footer #links ul li a:hover {
  text-decoration: underline;
}

footer #footer-social-links {
  max-width: 100%;
}

footer #footer-social-links ul {
  width: 300px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin-bottom: 15px;
}

footer #footer-social-links ul li i {
  font-size: 40px;
  color: white;
  -webkit-transition: color ease .3s;
  transition: color ease .3s;
}

footer #footer-social-links ul li i:hover {
  color: #f384b3;
}

footer #footer-info {
  height: 70px;
  color: white;
  background-color: #111;
  width: 100%;
}

footer #footer-info p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-header {
  height: 200px;
  position: relative;
  background: white;
  width: 100%;
  margin: 0 auto;
}

.page-header h1 {
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.page-body {
  min-height: calc(100% - 300px - 215px);
  width: 100%;
  -webkit-box-shadow: inset 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
}

.page-body section {
  -webkit-box-shadow: inset 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 30px 50px -50px rgba(0, 0, 0, 0.7);
  width: 100%;
  background: white;
  padding-bottom: 100px;
}

form {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  height: 650px;
  background: #EEE;
  margin-top: 50px;
  -webkit-box-shadow: 0px 4px 5px black;
          box-shadow: 0px 4px 5px black;
}

form label {
  font-size: 20px;
  margin-left: 30px;
}

form h3 {
  font-family: arial;
  padding: 60px 0px 0px 0px;
}

form input, form textarea, form button {
  margin: 10px 50px;
  width: 400px;
  max-width: 80%;
  display: block;
  font-family: "arial";
  padding: 10px;
  font-size: 20px;
  border: 2px solid;
  -webkit-box-shadow: 0px 2px 3px black;
          box-shadow: 0px 2px 3px black;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form button::-webkit-input-placeholder {
  font-family: "arial";
  color: black;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, form button:-ms-input-placeholder {
  font-family: "arial";
  color: black;
}

form input::-ms-input-placeholder, form textarea::-ms-input-placeholder, form button::-ms-input-placeholder {
  font-family: "arial";
  color: black;
}

form input::placeholder, form textarea::placeholder, form button::placeholder {
  font-family: "arial";
  color: black;
}

form input:focus, form textarea:focus, form button:focus {
  -webkit-box-shadow: 0px 2px 3px #d94986;
          box-shadow: 0px 2px 3px #d94986;
}

form input {
  height: 40px;
}

form textarea {
  height: 200px;
  resize: none;
}

form button {
  background: white;
}

form button:hover, form button:focus {
  background: #eed1dd;
  -webkit-box-shadow: 0px 2px 3px #d94986;
          box-shadow: 0px 2px 3px #d94986;
}

.project-holder {
  max-width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

.project-holder img {
  height: 200px;
  max-width: 100%;
}

.about-page section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page section p {
  max-width: 100%;
}

.about-page .what-we-do p {
  width: 512px;
  padding: 10px;
  max-width: 100%;
}

.about-page .our-team .team-members-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
}

.about-page .our-team .team-member {
  width: 512px;
  max-width: 100%;
  padding: 0px 30px;
}

@media (max-width: 400px) {
  .about-page .our-team .team-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-page .our-team .team-member-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
}

@media (max-width: 400px) {
  .about-page .our-team .team-member-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-page .our-team .team-member-header img {
  height: 130px;
}

.about-page .our-team .team-member-header h4 {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .about-page .our-team .team-member-header h4 {
    margin: 10px;
  }
}

.about-page .our-team p {
  margin: 30px 30px;
}
/*# sourceMappingURL=style.css.map */